<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LDAP_URL" value="LDAP://10.225.88.70"/>
    <add key="LDAP_ID" value="administrator"/>
    <add key="LDAP_PWD" value="yonwoo*211013"/>
    <add key="LDAP_URL2" value="LDAP://10.225.88.100"/>
    <add key="LDAP_ID2" value="administrator"/>
    <add key="LDAP_PWD2" value="yw!#220107"/>
  </appSettings>
  <connectionStrings>
    <add name="YW" connectionString="Data Source = 222.100.204.212; Initial Catalog = YW; Persist Security Info = True; User ID = wms; Password = wms!@#" providerName="System.Data.SqlClient"/>
    <add name="YWDEV" connectionString="Data Source = 10.225.88.72; Initial Catalog = YWDEV; Persist Security Info = True; User ID = User_ktk; Password = qp06910691!" providerName="System.Data.SqlClient"/>
    <add name="DB" connectionString="Data Source = 10.225.88.72; Initial Catalog = YWDEV; Persist Security Info = True; User ID = User_ktk; Password = qp06910691!" providerName="System.Data.SqlClient"/>
    <!-- C# 에서 사용법: 
		string cnString = ConfigurationManager.ConnectionStrings["DBConn"].ConnectionString;-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>